<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="url" value="https://www.microsoft.com/en-us/"/>
    <add key="menuToNavigate" value="Windows"/>
    <add key="menuToPrint" value="Windows 10"/>
    <add key="searchValue" value="Visual Studio"/>
    <add key="elementsToPrint" value="3"/>
    <add key="numberOfItems" value="20"/>
  </appSettings>
  <connectionStrings>
    <add  name="oracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dummyHost)(PORT=dummyPort))(CONNECT_DATA=(SERVICE_NAME=dummyServiceName)));User Id=dummyUser;Password=dummyPassword;"/>
  </connectionStrings>
</configuration>